*{
    box-sizing: border-box;
    font-family: "montserrat","inter-variable", sans-serif;
}

body {
    background-image: url("/img/achtergrond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    margin: 40px 0;
}

.profielfoto {
    background: #ffffff30;
    width: 150px;
    height: 140px;
    z-index: 1;
    margin: 20px;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
    transition: 0.2s;
}


.fotocontainer {
    background: #ffffff30;
    width: 150px;
    height: 140px;
    position: fixed;
    left: 20px;
    top: 0;
    z-index: 1;
    margin: 20px;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
    transition: 0.2s;
}



.home,
.kennis,
.reflectie{
    background-color: #ffffff30;
    padding: 15px 40px;
    z-index: 1;
    margin: 20px;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
    transition: 0.2s;
    text-decoration: none;
    color: white;
}

.home:hover,
.kennis:hover,
.reflectie:hover {
    cursor: pointer;
    background: #f0f0f010;
    transition: 0.2s;
}

main {
    margin-top: 80px;
}


.fotocontainer:hover {
    background: #f0f0f010;
    transition: 0.2s;
    cursor: pointer;
}

.cards-wrapper {
    column-count: 3;
    column-gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
}


.kaart1 {
    background: #ffffff10;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 40px;
    transform: rotate(-2deg);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
    transition: 0.2s ease;
    color:white;
    break-inside: avoid;
    min-height: 300px;
}

.kaart2 {
    background: #ffffff10;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 40px;
    transform: rotate(2deg);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
    transition: 0.2s ease;
    color:white;
    break-inside: avoid;
    min-height: 300px;
}
.kaart3 {
    background: #ffffff10;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 40px;
    transform: rotate(-2deg);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
    transition: 0.2s ease;
    color:white;
    break-inside: avoid;
    min-height: 300px;
}
.kaart4 {
    background: #ffffff10;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 40px;
    transform: rotate(2deg);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
    transition: 0.2s ease;
    color:white;
    break-inside: avoid;
    min-height: 300px;
}
.kaart5 {
    background: #ffffff10;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 40px;
    transform: rotate(2deg);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
    transition: 0.2s ease;
    color:white;
    break-inside: avoid;
    min-height: 300px;
}
.kaart6 {
    background: #ffffff10;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 40px;
    transform: rotate(-2deg);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
    transition: 0.2s ease;
    color:white;
    break-inside: avoid;
    min-height: 300px;
}
.kaart7 {
    background: #ffffff10;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 40px;
    transform: rotate(-2deg);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
    transition: 0.2s ease;
    color:white;
    break-inside: avoid;
    min-height: 300px;
}

.kaart7 img {
    width: 55px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}


.kaart8 {
    background: #ffffff10;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 40px;
    transform: rotate(-2deg);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
    transition: 0.2s ease;
    color:white;
    break-inside: avoid;
    min-height: 300px;
}
.kaart9 {
    background: #ffffff10;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 40px;
    transform: rotate(-2deg);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
    transition: 0.2s ease;
    color:white;
    break-inside: avoid;
    min-height: 300px;
}

.cards-wrapper div:hover {
    transform: scale(1.05) rotate(0deg);
}


@media(max-width: 900px) {
    .cards-wrapper {
        column-count: 2;
    }
}

@media(max-width: 600px) {
    .cards-wrapper {
        column-count: 1;
    }
}
